.btn
    display: inline-block
    padding: 6px 20px
    border: 1px solid #000000
    border-radius: 7px
    font-size: 14px
    text-transform: uppercase
    outline: none
    background: none
    cursor: pointer
    &--disable
        background-color: #ededed
        pointer-events: none
    &--hidden
        display: none