.selecter
    position: relative
    z-index: 10
    width: 200px
    input[type="text"]
        display: none
    .input
        display: flex
        align-items: center
        height: 36px
        cursor: pointer
    &__list
        position: absolute
        top: 100%
        right: 0
        left: 0
        display: none
        padding: 10px 0
        margin-top: 5px
        border: 1px solid #000000
        border-radius: 7px
        background-color: #ffffff
        .body.light &
            border-color: var(--font-color-light)
            background-color: var(--background-color-light)
        .body.night &
            border-color: var(--font-color-night)
            background-color: var(--background-color-night)
    &__item
        padding: 5px 20px
        cursor: pointer
        .body.light &
            color: var(--font-color-light)
        .body.night &
            color: var(--font-color-night)
        &:hover
            background-color: #ededed
            color: var(--font-color-light) !important
    &--active
        .selecter
            &__list
                display: block